.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $secondary-grey;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    background-color: $white;
    background-image: linear-gradient($white 57%, $secondary-grey 57%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    background-image: linear-gradient($white 23%, $secondary-grey 23%);
  }
}

.example .container {
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 52% 1fr;
    gap: 55px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 560px;
  }
}

.example__heading {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 90px;
  }
}

.example__desc {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    max-width: 433px;
    margin-bottom: 14px;
  }
}

.example__list {
  @include list-style;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;

  @media (min-width: $tablet-width) {
    gap: 20px 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    width: 366px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.example__index {
  order: 2;
  text-transform: lowercase;
  padding: 0 8px;
  font-size: 12px;
  line-height: 12px;
  background-color: $secondary-grey;
  margin-top: -10px;
  width: 87px;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: auto;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $secondary-grey;
  }
}

.example__value {
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  order: 1;
  flex-grow: 1;
}

.example__text {
  margin: 0;
  text-align: center;
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    text-align: left;
  }
}

.example__text-sum {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-top: 0;
    margin-left: 63px;
  }
}

.example__slider-wrapper {
  display: flex;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.example__image {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__image-changing-toggle {
  position: relative;
  display: block;
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: $special-grey-2;
  border: none;
  border-radius: 2px;
}

.example__image-changing-toggle::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $special-grey-2;
}

.example__image-changing-toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url("../../icons/stack.svg#slider-arrows-icon");
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
  mask-position: center;
  background-color: $special-grey-2;
}

// Наведение
.example__image-changing-toggle:hover {
  background-color: $basic-green;
}

.example__image-changing-toggle:hover::before {
  border-color: $basic-green;
}

.example__image-changing-toggle:hover::after {
  background-color: $basic-green;
}


// Нажатие
.example__image-changing-toggle:active {
  background-color: $basic-green-2;
  opacity: 0.6;
}

.example__image-changing-toggle:active::before {
  border-color: $basic-green-2;
}

.example__image-changing-toggle:active::after {
  background-color: $basic-green-2;
}
