.hero {
  color: $white;
  background-color: $basic-green;
  text-align: center;
}

.hero__slogan {
  font-family: $secondary-font;
  text-transform: uppercase;
  line-height: 14px;
}

.hero__button {
  color: $white;
  background-color: $basic-green;
  padding: 10px;
}
