.main-card__link {
  @include link;
}

.main-card__heading {
  @include title;
  font-size: 16px;
  line-height: 20px;
  color: $light-black;
}

.main-card__properties {
  @include list-style;
}

.main-card__properties-item {
  font-size: 12px;
  line-height: 16px;
}
